link(rel="stylesheet" href="/dts/kbn/css/field-addon.css")
link(rel="stylesheet" href="/dts/kbn/css/ekanban.css")
totvs-modal-header
    {{ 'l-cell-detail' | i18n }}
totvs-modal-body
    totvs-page-form(role="form", id="cellForm", name="cellModel", novalidate)
        .row
            ng-form(name="cellForm")
                accordion.col-xs-12
                    accordion-group(is-open="true")
                        accordion-heading
                            {{ 'l-cell' | i18n }}: {{controller.cell.ttMasterCellDs.cod_chave_erp| htmlText}} - {{controller.cell.ttMasterCellDs.des_cel | htmlText}}
                        totvs-tabset
                            totvs-tab(heading="{{ 'l-parameters' | i18n }}")
                                totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                    totvs-input,
                                    numbers-only
                                    name="qtd_cartoes",
                                    label="{{'l-max-many-cards' | i18n}}",
                                    ng-model="controller.cell.qtd_cartoes",
                                    required="true",
                                    ng-disabled="controller.mapping.idi_status === 4 || !controller.log_ativo"
                                )
                                totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                    totvs-input,
                                    name="qtd_horiz",
                                    ng-model="controller.cell.qtd_horiz",
                                    required,
                                    placeholder="00:00:00,000",
                                    label="{{'l-programming-interval' | i18n}}",
                                    ng-disabled="controller.mapping.idi_status === 4 || !controller.log_ativo",
                                    ng-pattern="/^\\d{1,}:[0-5][0-9]:[0-5][0-9],\\d{3,3}$/"
                                )
                                    validator(key="pattern") {{ 'l-should-be-completed-hours-format' | i18n }}
                                totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                    totvs-checkbox,
                                    required,
                                    ng-model="controller.cell.log_multiplos_itens",
                                    label="{{'l-simultaneous-card' | i18n}}",
                                    ng-disabled="controller.mapping.idi_status === 4 || !controller.log_ativo"
                                )
                                totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                    totvs-input,
                                    name="fixedZone",
                                    ng-model="controller.cell.qtd_faixa_fixa",
                                    required,
                                    placeholder="00:00:00,000"
                                    label="{{'l-fixed-range' | i18n}}",
                                    ng-disabled="controller.mapping.idi_status === 4 || !controller.log_ativo",
                                    ng-pattern="/^\\d{1,}:[0-5][0-9]:[0-5][0-9],\\d{3,3}$/"
                                )
                                    validator(key="pattern") {{ 'l-should-be-completed-hours-format' | i18n }}

                            totvs-tab(heading="{{ 'l-cell-workcenters' | i18n }}", ng-if="controller.cell.ttCellWorkcenterDs.length > 0")
                                totvs-list-item.col-xs-12(ng-repeat="workcenter in controller.cell.ttCellWorkcenterDs")
                                    totvs-list-item-info.col-lg-10(
                                        value="{{workcenter.ttMasterWorkcenterDs.cod_chave_erp | htmlText}} - {{workcenter.ttMasterWorkcenterDs.des_ct_erp | htmlText}}"
                                    )
                                    totvs-list-item-action.col-lg-2(limit-primary-action="1")
                                        action(
                                            icon="glyphicon-remove",
                                            ng-show="controller.mapping.idi_status != 4 && controller.cell.ttCellWorkcenterDs.length > 1  && workcenter.ttMasterWorkcenterDs.cod_chave_erp != 'PE' && controller.log_ativo",
                                            data-ng-click="controller.removeCt(workcenter.ttMasterWorkcenterDs.num_id_ct_mestre)"
                                        ) {{ 'l-to-exclude' | i18n }}
                                .div.pull-right
                                    button.btn.btn-default(
                                        icon="glyphicon-refresh",
                                        ng-show!="controller.mapping.idi_status != 3 && controller.mapping.idi_status != 4 && !controller.cell.log_proces_ext", 
                                        data-ng-click="controller.regenCt()"
                                        style="position: relative;display: inline-block;font-style: normal;-webkit-font-smoothing: antialiased;font-size:12px; margin-top: 10px;")
                                        .fa.fa-refresh  &nbsp;
                                        {{ 'l-to-regen' | i18n }}
                                    button.btn.btn-default(
                                            zoom
                                            zoom-service="kbn.ct-estab.zoom"
                                            ng-model=""
                                            zoom-multiple
                                            zoom-init="{'filters':{'num_id_estab': controller.mapping.num_id_estab, 'num_id_cel': controller.cell.num_id_cel, 'num_id_mapeamento': controller.mapping.num_id_mapeamento}}"
                                            zoom-selected="controller.retornoZoom(selected, controller.cell)"
                                            ng-if="controller.mapping.idi_status != 4 && !controller.cell.log_proces_ext && controller.log_ativo"
                                            style="position: relative;display: inline-block;font-style: normal;-webkit-font-smoothing: antialiased;font-size:12px; margin-top: 10px;") 
                                            .fa.fa-plus  &nbsp;
                                            {{'l-inserts-workcenters' | i18n}}
.div(ng-if="controller.log_ativo")
    totvs-modal-header
        {{ 'l-produced-item' | i18n }}
    totvs-modal-body
        totvs-page-form(role="form", id="itemForm", name="itemForm", novalidate)
            .row
                ng-form(name="itemForm", ng-repeat="processFlow in controller.cell.ttProcessFlowDs")

                    accordion.col-xs-12(ng-show="processFlow.ttItemDetDs.log_ativo")
                        accordion-group(is-open="false")

                            accordion-heading
                                a {{processFlow.ttItemDetDs.ttItemDs | descFlow:'{sku} - {desc} {ref} ({exp})'}}

                            totvs-tabset
                                totvs-tab(heading="{{ 'l-times' | i18n }}")
                                    col-lg-12.col-xs-12.col-sm-12
                                        totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                            totvs-input,
                                            name="vli_tempo_ciclo",
                                            required,
                                            label="{{'l-item-cycle-time' | i18n}}",
                                            ng-model="processFlow.vli_tempo_ciclo",
                                            ng-blur="controller.calckanbanCycleTime(processFlow)",
                                            ng-disabled="controller.mapping.idi_status === 4 || processFlow.ttItemDetDs.log_ativo == false || processFlow.ttItemDetDs.ttItemDs.idi_control_kanban === 0 && controller.mapping.idi_status !== 1",
                                            ng-pattern="/^\\d{1,}:[0-5][0-9]:[0-5][0-9],\\d{3,3}$/"
                                        )
                                            validator(key="pattern") {{ 'l-should-be-completed-hours-format' | i18n }}
                                        totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                            totvs-input,
                                            name="kanbanCycleTime",
                                            required,
                                            label="{{'l-kanban-cycle-time' | i18n}}",
                                            ng-model="processFlow.kanbanCycleTime",
                                            ng-disabled="true"
                                        )
                                    col-lg-12.col-xs-12.col-sm-12
                                        totvs-field.col-lg-6.col-xs-6.col-sm-6(
                                            totvs-input,
                                            name="vli_tempo_setup",
                                            required,
                                            label="{{'l-setup-time' | i18n}}",
                                            ng-model="processFlow.ttItemDetDs.ttMatrizSetupDs.vli_tempo_setup",
                                            ng-disabled="controller.mapping.idi_status === 4 || processFlow.ttItemDetDs.log_ativo == false  || processFlow.ttItemDetDs.ttItemDs.idi_control_kanban === 0 && controller.mapping.idi_status !== 1",
                                            ng-pattern="/^\\d{1,}:[0-5][0-9]:[0-5][0-9],\\d{3,3}$/"
                                        )
                                            validator(key="pattern") {{ 'l-should-be-completed-hours-format' | i18n }}
                                totvs-tab(heading="{{'l-consumed-items' | i18n}}", ng-if="processFlow.ttItemDetDs.ttRelacItemDs.length > 0")
                                    div
                                        totvs-list-item(ng-repeat="structure in processFlow.ttItemDetDs.ttRelacItemDs  | orderBy: 'structure.ttItemDetDs2.ttItemDs2.cod_chave_erp'")
                                            div.col-lg-9.col-md-9
                                                totvs-list-item-info.width-fill(
                                                    ng-if="!structure.ttItemDetDs2.ttItemDs2.cod_refer",
                                                    value="{{structure.ttItemDetDs2.ttItemDs2.cod_chave_erp}} - {{structure.ttItemDetDs2.ttItemDs2.des_item_erp}}"
                                                )
                                                totvs-list-item-info.width-fill(
                                                    ng-if="structure.ttItemDetDs2.ttItemDs2.cod_refer",
                                                    value="{{structure.ttItemDetDs2.ttItemDs2.cod_chave_erp}} - {{structure.ttItemDetDs2.ttItemDs2.des_item_erp}} ({{structure.ttItemDetDs2.ttItemDs2.cod_refer | i18n}})"
                                                )
                                            totvs-list-item-info.col-md-3.col-lg-3(
                                                title="{{'l-qtd-kanban' | i18n}}",
                                                value="{{structure.qtd_filho / structure.qtd_pai}} {{structure.ttItemDetDs2.ttItemDs2.cod_un_med_erp}}"
                                            )

                                totvs-tab(heading="{{ 'l-items-tools' | i18n }}", ng-if="processFlow.ttItemDetDs.ttItemToolDs.length > 0")
                                    totvs-list-item(ng-repeat="tool in processFlow.ttItemDetDs.ttItemToolDs")
                                        totvs-list-item-info(value="{{tool.ttToolDs.cod_chave_erp}} - {{tool.ttToolDs.des_ferram}}")

totvs-modal-footer
    button.btn.btn-default(ng-click="controller.cancel();") {{ 'l-cancel' | i18n }}
    button.btn.btn-primary(ng-click="controller.save();") {{ 'l-save' | i18n }}
