totvs-modal-header {{ 'l-edit-default-cell' | i18n}}
totvs-modal-body
    totvs-page-form(id="celulaPadraoForm",role="form")
        .col-md-12.row
            .div.col-md-3.com-sm-3.row(tooltip="{{ 'l-default-cell' | i18n }}")
                field.col-md-12.com-sm-12(type="input",
                                            ng-model="controller.celulaPadrao",
                                            maxlength="10",
                                            label="{{ 'l-cell-default' | i18n}}",
                                            required)
            field.col-md-9.com-sm-9(type="input",
                                    ng-model="controller.descCelPadrao",
                                    maxlength="100",
                                    label="{{ 'l-description' | i18n}}",
                                    required)
        .col-md-12.row
            .div.div.col-md-3.com-sm-3.row(tooltip="{{ 'l-default-wk' | i18n }}")
                field.col-md-12.com-sm-12(type="input",
                                        ng-model="controller.ctPadrao",
                                        maxlength="10",
                                        label="{{ 'l-ct-default' | i18n}}"
                                        required)
            field.col-md-9.com-sm-9(type="input",
                                    ng-model="controller.descCtPadrao",
                                    maxlength="100",
                                    label="{{ 'l-description' | i18n}}",
                                    required)
totvs-modal-footer
    button.btn.btn-default(data-ng-click="controller.cancel();")
        {{ 'l-cancel' | i18n}}
    button.btn.btn-primary(data-ng-click="controller.save();")
        {{ 'l-save' | i18n}}