doctype html
link(rel='stylesheet', href='/dts/kbn/css/ekanban.css')
link(rel='stylesheet', href='/dts/kbn/css/font-awesome.css')
totvs-page(type='list')
    totvs-page-navbar
        totvs-page-breadcrumb
            breadcrumb(link='#/') {{ 'l-home' | i18n }}
            breadcrumb {{ 'l-integration-parameters-ekanban' | i18n }}        
        totvs-page-header
            totvs-page-header-title(title="{{ 'l-integration-parameters-ekanban' | i18n }}")

            totvs-page-header-operation
                .col-md-6.col-sm-6
                    totvs-field(totvs-combo=""
                                label="{{'l-erp-integrated' | i18n}}"
                                ng-model="controller.erpSelected"
                                t-options="controller.integrationErps"
                                ng-change="controller.setParametersIntegration()"
                                ng-required="true")
                .col-md-6.col-sm-6(style="margin-top:29px;")
                    button.btn.btn-primary.col-md-4.col-sm-4.pull-right(ng-click="controller.generateEstablishment();" style="margin-left:10px; margin-right:10px;" ng-disabled="controller.erpSelected === null || controller.erpSelected === undefined")
                        {{ 'l-generate-establishments' | i18n }}

                    button.btn.btn-warning.col-md-4.col-sm-4.pull-right(ng-click="controller.configureURL();", ng-if="controller.erpSelected > 1")
                        {{ 'l-configure-urls' | i18n }}
    totvs-page-content
        totvs-page(type="edit")
            .row
                .col-md-12
                    field(type="input",
                        ng-model="controller.diretorioFormula",
                        maxlength="100",
                        label="{{ 'l-directory-formulas' | i18n}}",
                        ng-disabled="true")
                    button.btn.btn-default(ng-click="controller.editarDiretorio();" style="margin-top:29px;")
                        .fa.fa-pencil &nbsp;
                        {{ 'l-edit' | i18n }}
            .row
                .col-md-12
                    &nbsp;
                    field.col-xs-12.col-md-12(
                        type="checkbox",
                        label="{{ 'l-propose-cell' | i18n}}",
                        ng-model="controller.logCellDefault",
                        ng-change="controller.editarCelulaPadrao();")
                .col-md-12
                    field(type="input",
                        ng-model="controller.celulaPadrao + ' - ' + controller.descCelPadrao",
                        label="{{ 'l-default-cell' | i18n}}",
                        ng-disabled="true",
                        ng-hide="!controller.logCellDefault")
                    button.btn.btn-default(ng-click="controller.editarCelulaPadrao();",
                        ng-hide="!controller.logCellDefault" style="margin-top:29px;")
                        .fa.fa-pencil &nbsp;
                        {{ 'l-edit' | i18n }}
                .col-md-12
                    field(type="input",
                        ng-model="controller.ctPadrao + ' - ' + controller.descCtPadrao",
                        label="{{ 'l-default-wk' | i18n}}",
                        ng-disabled="true",
                        ng-hide="!controller.logCellDefault")