totvs-modal-header
    {{ 'l-ct-edit' | i18n}} {{controller.myParams | descGeneric:"{codeErpCell} {descCt}"}}
totvs-modal-body
    totvs-page-form(id="ctUpdateForm",role="form")
        field.col-xs-12.col-md-12(
            type="input",
            ng-model="controller.myParams.des_ct_erp",
            label="{{'l-description' | i18n}}",
            placeholder="{{ 'l-description' | i18n}}",
            maxlength="80",
            required
        )
totvs-modal-footer
    button.btn.btn-default(ng-click="controller.cancel()"){{ 'l-cancel' | i18n}}
    button.btn.btn-primary(ng-click="controller.save()"){{ 'l-save' | i18n}}
