div(ng-controller="kbn.dashboard.kanbanstatus.ctrl as kanbanStatusCtrl")
    link(rel="stylesheet" href="/dts/kbn/css/ekanban.css")
    link(rel="stylesheet" href="/dts/kbn/css/font-awesome.css")
    totvs-widget
        totvs-widget-header(settings="kanbanStatusCtrl.openSettings()", title="{{kanbanStatusCtrl.chart.titleWidget | i18n : [] : 'dts/kbn'}}")
            i(ng-if="kanbanStatusCtrl.chart.titleWidget == 'l-kanbanstatus'",class="glyphicon glyphicon-info-sign hidden-xs", tooltip-placeholder="rigth", tooltip-html="kanbanStatusCtrl.tooltip")
        span.dashboard-padding-right.pull-right.fa.fa-sort-amount-desc.is-pointer(ng-if="kanbanStatusCtrl.chart.typeChart == 'column'" title="{{'l-invert-pareto-order' | i18n : [] : 'dts/kbn'}}", ng-class="{'fa-sort-amount-desc':kanbanStatusCtrl.paretoOrderDesc, 'fa-sort-amount-asc': !kanbanStatusCtrl.paretoOrderDesc}", ng-click="kanbanStatusCtrl.changeOrderPareto()") &nbsp;
        totvs-widget-body
            ol.dashboard.breadcrumb
                li(ng-repeat="chart in kanbanStatusCtrl.chartArray" ng-class="{ 'active' : $last, 'is-pointer': !$last }") 
                    span(ng-click="kanbanStatusCtrl.navigate($index)") {{ chart.titleBreadcrumb }}
            totvs-chart(
                t-categories='kanbanStatusCtrl.chart.categories'
                t-series='kanbanStatusCtrl.chart.series',
                t-type-chart="{{kanbanStatusCtrl.chart.typeChart}}",
                t-on-click="kanbanStatusCtrl.chart.onClick",
                t-chart-tooltip="false")
        totvs-widget-footer
            totvs-widget-footer-actions
                action(ng-click="kanbanStatusCtrl.sendDataToReport()") {{ 'l-detail' | i18n : [] : 'dts/kbn/' }}
