link(rel="stylesheet" href="/dts/kbn/css/ekanban.css")
link(rel="stylesheet" href="/dts/kbn/css/font-awesome.css")

div(ng-controller="kbn.dashboard.itemTimebyRange.ctrl as itemTimeByRangeCtrl")
    totvs-widget
        totvs-widget-header(settings="itemTimeByRangeCtrl.showParams()", title="{{itemTimeByRangeCtrl.chart.titleWidget | i18n : [] : 'dts/kbn'}} {{'l-in-hours' | i18n : [] : 'dts/kbn'}}")
            i(ng-if="itemTimeByRangeCtrl.chart.canChangeOrder", class="glyphicon glyphicon-info-sign hidden-xs", tooltip-placeholder="rigth", tooltip-html="itemTimeByRangeCtrl.tooltip")
        span.dashboard-padding-right.pull-right.fa.fa-sort-amount-desc.is-pointer(ng-if="itemTimeByRangeCtrl.chart.canChangeOrder",
             title="{{'l-invert-pareto-order' | i18n : [] : 'dts/kbn'}}",
             ng-class="{'fa-sort-amount-desc':itemTimeByRangeCtrl.paretoOrderRed, 'fa-sort-amount-asc': !itemTimeByRangeCtrl.paretoOrderRed}",
             ng-click="itemTimeByRangeCtrl.changeOrder()") &nbsp;
        totvs-widget-body
            ol.dashboard.breadcrumb
                li(ng-repeat="chart in itemTimeByRangeCtrl.chartArray" ng-class="{ 'active' : $last, 'is-pointer': !$last }") 
                    span(ng-click="itemTimeByRangeCtrl.navigate($index)") {{ chart.titleBreadcrumb }}
            totvs-chart(
                t-categories="itemTimeByRangeCtrl.chart.categories",
                t-series='itemTimeByRangeCtrl.chart.series',
                t-type-chart="column",
                t-chart-tooltip="false",
                t-on-click="itemTimeByRangeCtrl.chart.onClick")
        totvs-widget-footer
            totvs-widget-footer-actions
                action(ng-click="itemTimeByRangeCtrl.sendDataToReport()") {{ 'l-detail' | i18n : [] : 'dts/kbn/' }}
